 
<header class="header">
  <nav class="navbar navbar-expand-lg  navbar-dark bg-dark">
    <a class="navbar-brand"></a>
        <!--div para el boton del sidebar-->  
        <div class="float-right btn_sidebar"> 
          <a class="button-left" style="color: azure;"><span class="fa fa-fw fa-bars "></span></a> 
        </div>
        <!--End butoon sidebar-->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse"  id="navbarNavDropdown" style="float: inherit;">
      <ul class="navbar-nav" >
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Nombre Rol
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">Nombre usuario</a>
            <a class="dropdown-item" href="#">Salir</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</header>
<div class="main">
  <aside>
    <div class="sidebar left ">
      <div class="user-panel">
        <div class="pull-left image">
          <img src="http://via.placeholder.com/160x160" class="rounded-circle" alt="User Image">
        </div>
        <div class="pull-left info">
          <p>Parking-System</p>
        </div>
      </div>
      <ul class="list-sidebar bg-def  oult">
        <li> 
          <a routerLink="/home"> 
            <i class="fa fa-home"></i> 
            <span class="nav-label"> Panel de Control </span>  
          </a>
      </li>

      <li> 
        <a href="#" data-toggle="collapse" data-target="#usuarios" class="collapsed active" > 
          <i class="fa fa-users"></i> 
          <span class="nav-label"> Usuarios</span> 
          <span class="fa fa-chevron-left pull-right"></span> 
        </a>
        <ul class="sub-menu collapse" id="usuarios">
          <li class="active"><a href="#">Gestionar Usuarios</a></li>
        </ul>
      </li>

      <li> 
        <a href="#" data-toggle="collapse" data-target="#Vehiculo" class="collapsed active" >
          <i class="fa fa-truck"></i> 
          <span class="nav-label"> Vehículos</span>
          <span class="fa fa-chevron-left pull-right"></span>
        </a>
        <ul  class="sub-menu collapse" id="Vehiculo" >
          <li><a href="#"> Registrar Automoviles</a></li>
          <li><a href="#"> Registrar Motos</a></li>
          <li><a href="#"> Registrar Bicicletas</a></li>
        </ul>
      </li>

      <li> 
        <a href="#" data-toggle="collapse" data-target="#Autos" class="collapsed active" >
          <i class="fa fa-car"></i> 
          <span class="nav-label"> Parking Autos</span>
          <span class="fa fa-chevron-left pull-right"></span>
        </a>
        <ul  class="sub-menu collapse" id="Autos" >
          <li><a href="#"> Asignar Parking</a></li>
          <li><a href="#"> Generar Tarifa </a></li>
        </ul>
      </li>

      <li> 
        <a href="#" data-toggle="collapse" data-target="#motos" class="collapsed active" >
          <i class="fa fa-motorcycle"></i> 
          <span class="nav-label"> Parking Motos</span>
          <span class="fa fa-chevron-left pull-right"></span>
        </a>
        <ul  class="sub-menu collapse" id="motos" >
          <li><a href="#"> Asignar Parking</a></li>
          <li><a href="#"> Generar Tarifa </a></li>
        </ul>
      </li>

      <li> 
        <a href="#" data-toggle="collapse" data-target="#bici" class="collapsed active" >
          <i class="fa fa-bicycle"></i> 
          <span class="nav-label"> Parking Bicicletas</span>
          <span class="fa fa-chevron-left pull-right"></span>
        </a>
        <ul  class="sub-menu collapse" id="bici" >
          <li><a href="#"> Asignar Parking</a></li>
          <li><a href="#"> Generar Tarifa </a></li>
        </ul>
      </li>

      <li> 
        <a href="#" data-toggle="collapse" data-target="#report" class="collapsed active" >
          <i class="fa fa-folder"></i> 
          <span class="nav-label"> Reportes</span>
          <span class="fa fa-chevron-left pull-right"></span>
        </a>
        <ul  class="sub-menu collapse" id="report" >
          <li><a href="#"> Automoviles</a></li>
          <li><a href="#"> Motos </a></li>
          <li><a href="#"> Bicicletas </a></li>
        </ul>
      </li>

      </ul>
    </div>
  </aside>
</div>
